<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{ISO8601} %-5level [%thread] %logger - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="OTEL" class="io.opentelemetry.instrumentation.logback.appender.v1_0.OpenTelemetryAppender">
    <captureMdcAttributes>*</captureMdcAttributes>
    <captureLoggerContext>true</captureLoggerContext>
    <captureMarkerAttribute>true</captureMarkerAttribute>
    <captureKeyValuePairAttributes>true</captureKeyValuePairAttributes>
    <captureCodeAttributes>false</captureCodeAttributes>
    <captureExperimentalAttributes>true</captureExperimentalAttributes>
  </appender>

    <logger name="dev.langchain4j" level="TRACE" additivity="true"/>
    <logger name="dev.langchain4j.model.googleai" level="TRACE" additivity="true"/>
    <logger name="com.gentorox" level="TRACE" additivity="true"/>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
